<!DOCTYPE html>
<html>
  <head>
    <title>Assignment-Deadline-Notes-flask</title>
  </head>
  <body>
    <h1>Assignment-Deadline-Notes-flask</h1>
    <form method="POST" action="/add">
      <input type="text" name="title" placeholder="Nama Tugas" required />
      <input type="date" name="deadline" required />
      <button type="submit">Tambah</button>
    </form>
    <ul>
      {% for task in tasks %}
      <li>{{ task.title }} - Deadline: {{ task.deadline }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
